header{
    background-color: hsl(10, 79%, 65%);
    padding: 20px 15px ;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(231, 227, 227);
    font-size: 13px;
}

.personal #big-text{
    font-size: 25px;
    font-weight: 900;
    margin-top: 5px;

}

#logo{
    padding: 2px;
}

#logo svg{
    height: 35px;
}